@charset 'utf-8';

table.data_write {
	width:680px;
}
	table.data_write thead th {
		padding:5px 0 0 1px;
		text-align:left;
		font-weight:bold;
	}
	table.data_write thead th.pdl28 {
		padding-left:28px;
	}
	table.data_write thead th.pdl21 {
		padding-left:21px;
	}
	table.data_write tbody th {
		padding:5px 0;
		padding-left:9px;
		text-align:left;
		color:#fff;
	}
	table.data_write tbody td {
		padding:5px 0;
		padding-left:9px;
	/*	text-align:left;*/
		font-weight:normal;
		color:#fff;
	}
		table.data_write tbody th em {
			color:#c6c9ce;
		}
		table.data_write tbody tr.pdt th {
			padding-top:20px;
		}
		table.data_write tbody tr.pdt td {
			padding-top:20px;
		}
		table.data_write tbody th.top_txt,
		table.data_write tbody td.top_txt {
			vertical-align:top;
		}
		table.data_write tbody th.top_txt2 {
			padding-top:15px;
			vertical-align:top;
		}
		table.data_write tbody td label {
			margin-right:30px;
		}
			table.data_write tbody td .movie_box .radio_box label {
				display:inline-block;
				width:170px;
				margin-right:0;
			}
		table.data_write tbody td label.first {
			margin-left:30px;
		}
			table.data_write tbody td label input {
				vertical-align:-2px;
			}
			table.data_write tbody td span.tit {
				float:left;
				margin-right:10px;
			}
			table.data_write tbody td div.volume-btn {
				width:137px;
				position:relative;
				margin:0 10px 0 0;
			}
table.data_table {
	width:680px;
	border-top:3px solid #8e939e;
}
	table.data_table thead th {
		padding:11px 0 5px;
		background-color:#8e939e;
		color:#1c1c1c;
		font-size:12px;
	}
	table.data_table tbody td {
		padding:5px 0 6px;
		border-top:1px solid #8e939e;
		background-color:#b4b9c5;
		color:#374052;
		text-align:center;
	}
		table.data_table tbody tr.top td {
			border-top:none;
		}
		table.data_table thead th.line_left ,
		table.data_table tbody td.line_left {
			border-left:1px solid #40495a;
		}
		table.data_table tbody td.num {
			font-size:10px;
			line-height:14px;
		}

table.data_table2 {
	width:100%;
	border-top:3px solid #8e939e;
}
	table.data_table2 thead th {
		padding:5px 0 5px;
		background-color:#8e939e;
		color:#1c1c1c;
		font-size:12px;
		text-align:center;
	}
	table.data_table2 tbody td {
		padding:5px 0 6px;
		border-top:1px solid #8e939e;
		background-color:#b4b9c5;
		color:#374052;
		text-align:center;
	}
		table.data_table2 thead th.mgt5 {
			margin-left: 5px;
			margin-right: 5px;
		}

table.time_table {
	width:680px;
}
	table.time_table th{
		background:#8e939e;
		color:#1c1c1c;
	}
		table.time_table thead th {
			height:25px;
			border-right:1px solid #7c808a;
			border-bottom:1px solid #40495a;
			font-size:10px;
		}
			table.time_table thead th.first {
				border-right:1px solid #40495a;
			}
			table.time_table thead th.last {
				border-right:none;
			}
		table.time_table tbody th {
			border-bottom:1px solid #7c808a;
			border-right:1px solid #40495a;
			font-weight:normal
		}
		table.time_table tbody td {
			height:26px;
			border-bottom:1px solid #7c808a;
			border-right:1px solid #7c808a;
			background:#aab0bd;
			text-align:center;
		}
			table.time_table tbody td.last {
				border-right:none;
			}
		table.time_table_type2 thead th {
			font-weight:normal;
		}
		table.time_table_type2 tbody th,
		table.time_table_type2 tbody td {
			border-bottom:1px solid #40495a;
			border-right:1px solid #40495a;
		}

/* ดทย */
div.lnb_box_2depth table {
	width:260px;
	margin-bottom:10px;
}
	div.lnb_box_2depth table th {
		height:29px;
		border:1px solid #2b313e;
		background-color:#1b2029;
		color:#868fa3;
		font-weight:normal;
	}
	div.lnb_box_2depth table td {
		height:29px;
		border:1px solid #2b313e;
		background-color:#353c4b;
		color:#c6c9ce;
		text-align:center;
	}
		div.lnb_box_2depth table td a {
			display:inline-block;
			width:100%;
			padding:5px 0;
			color:#c6c9ce;
		}
		div.lnb_box_2depth table td a:active,
		div.lnb_box_2depth table td a:focus,
		div.lnb_box_2depth table td a:hover {
			background:#25558d;
			text-decoration:none;
		}
		div.lnb_box_2depth table td.rad a {
			color:#ff6666;
		}
		div.lnb_box_2depth table td.blue a {
			color:#50a2ff;
		}
	div.lnb_box_2depth table td.gray {
		color:#616773;
	}
	div.lnb_box_2depth table td.blue01 {
		color:#3d5b81;
	}

table.ptz {
	height:150px;
	width:150px;
}
	table.ptz td {
		height:16px;
		width:16px;
	}